<div style="margin-top: 50px;margin-left:20%; width:60%">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>App Name</strong></td>
                <td><%= app.name %></td>
            </tr>
            <tr>
                <td><strong>Created Date</strong></td>
                <td><%= app.createdAt %></td>
            </tr>
            <tr>
                <td><strong>Latest Updated</strong></td>
                <td><%= app.updatedAt %></td>
            </tr>
        </tbody>
    </table>
</div>
