<div style="margin-top: 50px;margin-left:20%; width:60%">
    <div class="row">
      <label class="col-sm-3"  style="color: black;">App Name</label>
      <div class="col-sm-9">
        <%= app.name %>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-3"  style="color: black;">Created Date</label>
      <div class="col-sm-9">
        <%= app.createdAt %>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-3"  style="color: black;">Latest Updated</label>
      <div class="col-sm-9">
        <%= app.updatedAt %>
      </div>
    </div>
</div>
