<div class="panel panel-default">
  <div class="panel-body" style="text-align: center">
  	<span class="glyphicon glyphicon-plus"></span>
    <div>You currently have no apps</div>
    <div>To get started, click the button below and create a new app.</div>
    <a class="btn btn-default" style="border:2px solid black" href='createapp'>Create New App</a>
  </div>
</div>