<div class="navbar navbar-warning" style="margin-top:-20px; background:pink; font-size:30px">
  <a href="/apps" style="color:white; text-decoration:none"><img src="images/user.png" style="width:3%;"> Personal apps</a>
  <span class="glyphicon glyphicon-menu-right"></span>
  <span>IM_Night</span>
</div>

