<div class="navbar navbar-warning" style="margin-top:-20px; background:pink;">
    <div class="container-fluid">
      <div class="navbar-collapse collapse navbar-warning-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/apps"> Personal apps</a></li>
            <li class="glyphicon glyphicon-menu-right" style="top:18px;"></li>
            <li><a href="">IM_Night</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="">Open App</a></li>
        </ul>
      </div>
    </div>
</div>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="">Overview</a></li>
  <li role="presentation"><a href="">Resources</a></li>
  <li role="presentation"><a href="#">Activity</a></li>
  <li role="presentation"><a href="#">Access</a></li>
  <li role="presentation"><a href="#">Settings</a></li>
</ul>

<!-- <img src="images/user.png" style="width:10%;"> -->
