<% include header %>
<div class="navbar navbar-warning" style="margin-top:-20px; background:pink; text-align:center; font-size:30px;">
  Create New App
</div>
<div style="margin-left:10%; width:80%">
	<form>
	  <div class="form-group row">
	    <label for="inputAppName" class="col-sm-4 form-control-label">App Name</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control" id="inputAppName" placeholder="App Name">
	    </div>
	    <label for="inputAppName" class="col-sm-4 form-control-label">Leave blank and we'll choose one for you.</label>
	  </div>
	  <!-- <div class="form-group row">
	    <label for="selectRuntime" class="col-sm-4 form-control-label">Runtime Selection</label>
		<div class="col-xs-8">
		  <select class="selectpicker form-control">
		    <option>Choose Region for the Common Runtime</option>
		    <option value = "us">United State</option>
		    <option value = "eu">Europe</option>
		  </select>
		</div>
	    <label for="selectRuntime" class="col-sm-4 form-control-label">Your app can run in your choice of region in the Common Runtime.</label>
	  </div> -->
	  <div class="form-group row">
	    <div class="col-sm-offset-4 col-sm-8">
	      <button type="submit" class="btn btn-secondary">Create App</button>
	    </div>
	  </div>
	</form>
</div>
<% include footer %>
