<% include header %>
<div class="navbar navbar-warning" style="margin-top:-20px; background:pink; text-align:center; font-size:30px;">
  Create New App
</div>
<div style="margin-left:10%; width:80%">
	<form>
	  <div class="form-group row">
	    <label for="inputEmail3" class="col-sm-2 form-control-label">App Name</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="inputPassword3" class="col-sm-2 form-control-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label class="col-sm-2">Radios</label>
	    <div class="col-sm-10">
	      <div class="radio">
	        <label>
	          <input type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
	          Option one is this and that&mdash;be sure to include why it's great
	        </label>
	      </div>
	      <div class="radio">
	        <label>
	          <input type="radio" name="gridRadios" id="gridRadios2" value="option2">
	          Option two can be something else and selecting it will deselect option one
	        </label>
	      </div>
	      <div class="radio disabled">
	        <label>
	          <input type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
	          Option three is disabled
	        </label>
	      </div>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label class="col-sm-2">Checkbox</label>
	    <div class="col-sm-10">
	      <div class="checkbox">
	        <label>
	          <input type="checkbox"> Check me out
	        </label>
	      </div>
	    </div>
	  </div>
	  <div class="form-group row">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-secondary">Sign in</button>
	    </div>
	  </div>
	</form>
</div>
<% include footer %>
