<% include dbheader %>
<div class="navbar navbar-warning" style="margin-top:-20px; background:pink">
  <div class="container-fluid" style="width:80%">
    <div class="navbar-collapse collapse navbar-warning-collapse">
      <form class="navbar-form nav navbar-nav">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" style="background:red; border: 2px solid pink" ><span class="glyphicon glyphicon-search"></span>  Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <a class="btn btn-default" style="border:2px solid pink; background:red" href='createdatabase'>Create Database</a>
      </ul>
    </div>
  </div>
</div>

<% include dbfooter %>
