<% include header %>
<div class="navbar navbar-warning" style="margin-top:-20px; background:pink; text-align:center; font-size:30px;">
  Create New Pipline
</div>
<div style="margin-left:10%; width:80%">
	<form>
	  <div class="form-group row">
	    <label for="inputEmail3" class="col-sm-2 form-control-label">Team Name</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputTeamName" placeholder="Email">
	    </div>
	  </div>
      <div class="form-group row">
	    <label for="inputEmail3" class="col-sm-2 form-control-label">Team Owner</label>
	    <div class="col-sm-10">
	      Bonnie Tu
	    </div>
	  </div>
      <div class="form-group row">
	    <label for="inputEmail3" class="col-sm-2 form-control-label">Team Member</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputTeamMember" placeholder="Email">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="inputPassword3" class="col-sm-2 form-control-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group row">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-secondary">Create</button>
          <button type="reset" class="btn btn-secondary">Cancel</button>
	    </div>
	  </div>
	</form>
</div>
<% include footer %>
