<div style="margin-top: 50px;margin-left:20%; width:60%">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Database Name</th>
            <th>Type</th>
            <th>Created Date</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<db.length;i++){ %>
            <tr>
              <td><%= db[i].name %></td>
              <td><%= db[i].type %></td>
              <td><%= db[i].createdAt %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
