<div class="panel panel-default">
  <div class="panel-body" style="text-align: center; width:50%; margin-left:25%">
  	<span class="glyphicon glyphicon-plus"></span>
    <div>Databases will appear here</div>
    <div>Create a database to get started with Dokku Postgres. There are a number of database capability plans available and databases require 1 to 5 minutes to provision.</div>
    <a class="btn btn-default" style="border:2px solid black" href='createdatabase'>Create Database</a>
  </div>
</div>