<div class="navbar navbar-warning" style="margin-top:-20px; background:pink">
    <div class="container-fluid">
        <% if (title=="Dokku UI - App") {%>
        <ul class="nav navbar-nav" style="width:15%">
            <li class="dropdown">
                <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/images/user.png" style="max-height: 20px;"/>  Personal apps  <span class = "glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)"><img src="/images/user.png" style="width:10%"/>  Personal apps</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header"><img src="/images/group.png" style="width:15%"/>Team</li>
                    <li><a href="/createteam"><img src="/images/add.png" style="width:10%"/>  Create a Team</a></li>
                </ul>
            </li>
        </ul>
        <% } %>
        <ul class="nav navbar-nav navbar-right">
            <% if (title=="Dokku UI - App") {%>
            <li><a href="/app/create">Create New App</a></li>
            <% } else if (title=="Dokku UI - Database") {%>
            <li><a href="/database/create">Create New Database</a></li>
            <% } else if (title=="Dokku UI - Create New App") {%>
            <li><a href="/app/list" >Cancel</a></li>
            <% } else if (title=="Dokku UI - Create New Database") {%>
            <li><a href="/databases">Cancel</a></li>
            <% }%>
        </ul>
    </div>
</div>
